.top-page{
    background-color:white;
    
}
.main-logo{
    width: 100px;
    length: 300px;
    overflow: hidden;
}

.ssml{
    size: 100px 200px;
}

.topnav{
    overflow: hidden;
}

.topnav a{
    float: right;
    color: #2e2e2e;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Public Sans', sans-serif;
}
.main-page{
    display: flex;
    background-color: #f1f1f1;
}
.main-page{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    
    justify-content: space-evenly;
  }
#fb1{
   padding: 30px; 
   font-size: 50px;
}
.button1{
    font-size: 40px;
    border: solid #2e2e2e;
    border-radius: 200px;
    background-color: #8aecff;
    margin-right: 1500px;
    padding: 10px;
}
.button1:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor:grab;
}
#fb2{
    margin-top: 40px;
}